:root {
  --black: #0d1b2a;
  --blue: #1b263b;
  --beige: #dce2c8;
  --red: #9e2b25;
  --playfair: "Playfair Display", serif;
  --lora: "Lora", serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--playfair);
  background-image: url("../images/background-images/cloudy-trees.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  opacity: 80%;
  height: 100vh;
  width: 100vw;
}

/* Nav Styling */
nav {
  /* background-color: var(--red); */
  /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
  height: 100vh;
  width: auto;
  position: fixed;
  border-right: 1px solid gray;
}

nav li {
  margin: 20px 0px;
}

nav a {
  margin: 10px;
}

nav i {
  font-size: 25px;
  color: black;
}

nav i:hover {
  color: var(--lightblue);
}

main {
  height: auto;
  width: auto;
}

/* Header Styling */
header {
  color: var(--red);
  font-size: 400%;
  margin-right: 48px;
  padding: 24px;
}

hr {
  margin-left: 48px;
  height: 0.5px;
  background-color: gray;
}

.container {
  font-family: var(--lora);
  text-align: center;
}

/* --------------------- */

.project-tabs li a {
  color: #fff;
}

#tabs-with-content .tabs:not(:last-child) {
  margin: 0 0 0 48px;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
  width: 48%;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}

.is-active {
  margin-left: 48px;
}
/* --------------------- */

.project-tabs {
  margin: auto;
}

.tab-content-container {
  width: 80%;
}

.tab-content {
  border: 1px solid black;
}

.tab-title {
  font-size: 200%;
  margin: 5px;
}

.project-image {
  height: auto;
  width: 100%;
}

section {
  color: #fff;
}

.labels {
  color: #fff;
  opacity: 50%;
  font-size: 50%;
}

.hover {
  opacity: 30%;
}

.redirect {
  margin: 5px 5px;
  font-size: 150%;
}

.repo-link {
  color: var(--red);
  margin: 0 20px;
}

.tech {
  margin: 10px;
}

footer {
  border-top: 1px solid black;

  height: 200px;
}

.hidden {
  display: none;
}
